// global rules
body { padding-top:51px; font-size:14px; line-height:16px; overflow-y:scroll; }
form { margin-bottom:0px; }
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width:auto; min-width:15em; }
.row { margin-bottom:20px; }
.float-right { float:right; }
.float-left { float:left; }
.text-right { text-align:right; }
.text-left { text-align:left; }
.text-justify { text-align:fustify; }
sup, sub { letter-spacing:1px; }
#menu {
	.navbar-form { color:#eee; }
}
.breadcrumb {
	margin-top:20px; 
	li { color:silver; }
}
#main {
	position:relative;
	.nested_list {
		.nested_li {
			position:relative; height:28px; line-height:28px;
			&.cat_children {
				.cat_icon {
					position:absolute; width:21px; height:21px; top:3px; left:-26px;
					border-radius:50%; background-color:#fff; color:#888; cursor:pointer;
					&:before {
						content:'\e081'; display:block; position:absolute; top:0px; left:0px;
						font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; font-size:21px;
						line-height:21px; -webkit-font-smoothing: antialiased;
					}
					&:hover {
						&:before { color:#428bca; }
					}
				}
				&.opened {
					.cat_icon { 
						color:#ccc; 
						&:before { content:'\e082'; }
					}
					& + .nested_list { display:block; }
				}
			}
			.btn-toolbar {
				float:right;
				.btn { line-height:0.7em; }
			}
		}
		.nested_list {
			display:none; margin:10px 0px;
		}
		&.sortable {
			li {
				cursor:move;
				&:hover { background-color:rgba(0,0,0,0.03); }
			}
			.ui-sortable-placeholder { border:1px dashed #ddd; list-style-type:none; background-color:rgba(0,0,0,0.05); }
		}
	}
	#links {}
	#filters {
		input[type=text] { display:inline-block; width:auto; vertical-align:middle; }
	}
	#edit {
		.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width:100%; }
	}
}
#footer {
	position:relative; border-top:1px solid silver; text-align:right; font-size:80%; text-transform:uppercase;
}

/* GLOBAL */

.glyphicon-none:before {
    content: "\e074";
    color: transparent !important;
}