{% import "macros.html" as macros %}
<html lang="ru">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DomCMS</title>
	<link href="/domcms/css/bootstrap.min.css" rel="stylesheet">
	<link href="/domcms/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/domcms/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/domcms/css/style.less" rel="stylesheet/less">
	
	<script src="/domcms/js/less-1.7.4.min.js"></script>
	<script src="/domcms/js/jquery.1.11.1.min.js"></script>
	<script src="/domcms/js/jquery.hotkeys.min.js"></script>
	<script src="/domcms/js/bootstrap.min.js"></script>
	<script src="/domcms/js/bootstrap-select.min.js"></script>
	<script src="/domcms/js/bootstrap-wysiwyg.min.js"></script>
	<script src="/domcms/js/bootstrap-tooltips.min.js"></script>
	<script type="text/javascript">
		domcms = new Object();
		domcms.url = {{ domcms.url_encoded }};
	</script>
	<script src="/domcms/js/scripts.js"></script>
	{% block head %}{% endblock %}
</head>
<body role="document">
	<div id="menu" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/domcms/" class="navbar-brand">DomCMS</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/domcms/?module=modules&mode=modules&action=view">Модули</a></li>
					<li><a href="/domcms/?module=modules&mode=modules_menus&action=view">Меню</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-right" method="post" action="/domcms/" role="form">
					<span class="glyphicon glyphicon-user"></span> <a href="/domcms/">{{ users.login }}</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-danger" type="submit" name="signout" value="true"><span class="glyphicon glyphicon-off"></span> Выйти</button>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<ol class="breadcrumb">
			{% for crumb in domcms.crumbs %}
			<li>{% if crumb.url!='' %}<a href="{{ crumb.url }}">{{ crumb.title }}</a>
			{% else %}{{ crumb.title }}{% endif %}</li>
			{% endfor %}
		</ol>
	</div>
	<div id="main" class="container" role="main">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<h1>{{ domcms.modulesChain.title|capitalize }}</h1>
			</div>
			<div class="col-md-4 col-xs-12" id="messages">
				{% for k,i in messages if messages is defined %}
					<div class="alert alert-{{ i.status }}"><span class="glyphicon glyphicon-ok-sign"></span> <strong>{{ i.message }}</strong> {{ i.time }}</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12" id="links">
				{% block links %}
				{% if domcms.url.links|length>0 %}
					{% for i in domcms.url.links %}
						<h4><a href="{{ i.url }}">{% if i.glyphicon is not empty %}<span class="glyphicon glyphicon-{{ i.glyphicon }}"></span> {% endif %}{{ i.title|capitalize }}</a></h4>
					{% endfor %}
				{% endif %}
				{% endblock %}
			</div>
			<div class="col-md-8 col-xs-6" id="filters">
				{% block filters %}
				{% if domcms.filters|length>0 %}
					{% for i,v in domcms.filters %}
						{% if v.values is defined %}
						<select name="{{ i }}" id="{{ i }}" class="selectpicker filter" data-live-search="true">
							{% for j,k in v.values %}
							<option{% if v.value==j %} selected="selected"{% endif %} value="{{ j }}">{{ k }}</option>
							{% endfor %}
						</select>
						{% endif %}
					{% endfor %}
					<!--input type="text" class="form-control filter" id="countOnPage" name="countOnPage"-->
					<div class="btn-group">
						<button type="button" id="filter_clear" class="btn btn-info">Очистить</button>
						<button type="button" id="filter_accept" class="btn btn-primary">Применить</button>
					</div>
				{% endif %}
				{% endblock %}
			</div>
			<div class="col-md-4 col-xs-6 text-right">
				{% block buttons %}
				{% if domcms.buttons|length>0 %}
					{% for i in domcms.buttons %}
						<a class="btn btn-default" href="{{ i.url }}">{% if i.glyphicon is not empty %}<span class="glyphicon glyphicon-{{ i.glyphicon }}"></span> {% endif %}{{ i.title }}</a>
					{% endfor %}
				{% endif %}
				{% endblock %}
			</div>
		</div>
		<div class="row">
			{% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer">
		<div class="container">
			DomCMS&nbsp;&nbsp;&nbsp;&dash;&nbsp;&nbsp;&nbsp;2014 &copy; Alexey Chelnokov
		</div>
	</div>
	{% if debug is defined %}
	<div class="container">
		{% for i, tabs in debug %}
			<b>{{ i }}</b><br>
			{% for a in tabs %}
				<span class="label label-default">{{ a.data.time }}</span> {{ a.data.text }}<br>
			{% endfor %}
		{% endfor %}
	</div>
	{% endif %}
</body>
</html>