{% extends 'edit_2_col.html' %}

{% block col_1 %}
	
	{% import "macros.html" as macros %}
	
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">Редактирование</h3></div>
		<div class="panel-body">
			{{ macros.get_input('title',domcms.data.item.title,domcms) }}
			{{ macros.get_input('name',domcms.data.item.name,domcms) }}
		</div>
	</div>

{% endblock %}

{% block col_2 %}
			
	{% import "macros.html" as macros %}
	
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">Параметры элемента</h3></div>
		<div class="panel-body">
			{{ macros.get_input('id',domcms.data.item.id,domcms) }}
			{{ macros.get_select('id_modules',domcms.data.item.id_modules,domcms) }}
		</div>
	</div>
	
{% endblock %}