{% extends 'domcms.html' %}

{% block content %}
<form action="" method="post">
	<div class="col-md-8">
		{% import "macros.html" as macros %}
		{% if domcms.data.item.title is defined %}
			<h6>Заголовок</h6>
			{{ macros.get_input('title',domcms.data.item.title,domcms,'autofocus required') }}
		{% endif %}
		<h6>Текст</h6>
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#text">Полный</a></li>
			<li><a href="#preview">Краткий</a></li>
		</ul>
		<div class="btn-group">
			<a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
			<a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
			<a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
			<a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
		</div>
		<div class="tab-content">
			<div class="tab-pane fade in active" id="text"><textarea class="wysiwyg" name="text">text</textarea></div>
			<div class="tab-pane fade" id="preview"><textarea class="wysiwyg" name="preview">preview</textarea></div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">Meta тэги</h3></div>
			<div class="panel-body">
				<h6>Заголовок закладки страницы в браузере</h6>
				<input type="text" class="form-control" id="page_title" name="page_title" value="" placeholder="Page title" required>
				<h6>Ключевые слова</h6>
				<input type="text" class="form-control" id="page_keywords" name="page_keywords" value="" placeholder="Page keywords">
				<h6>Описание страницы</h6>
				<input type="text" class="form-control" id="url" name="url" value="" placeholder="Page description">
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">Параметры элемента</h3></div>
			<div class="panel-body">
				<h6>Алиас</h6>
				<input type="text" class="form-control" id="url" name="url" value="" placeholder="Url">
				<h6>Родительский элемент</h6>
				<select class="selectpicker" data-live-search="true">
					<option value="1">First</option>
					<option value="2">Second</option>
					<option value="2">Second</option>
					<option value="2">Second</option>
					<option value="2">Second</option>
					<option value="2">Second</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-8">
		<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить</button>
		<button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Восстановить</button>
		<button type="reset" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Удалить</button>
	</div>
</form>
{% endblock %}