<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>DomCMS Login</title>
</head>
<body>
	{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
	<form method="post" action="/domcms/">
		<input type="text" id="login" name="login" value="" placeholder="Login">
		<label for="login">* Логин должен содержать только буквы латинского алфавита.</label>
		<input type="password" id="password" name="password" value="" placeholder="Password">
		<label for="password">* Пароль должен состоять из букв латинского алфавита разного регистра и цифр от 0 до 9.</label>
		<input type="checkbox" name="remember" id="remember" value="1">
		<label for="remember">Автоматически заходить в систему при следующем визите</label>
		<input type="submit" name="signin" value="Войти">
	</form>
</body>
</html>